<div class="container">
  <div class="row center-content">
    <ul class="list-group col-md-6">
      <li class="list-group-item"><%= link_to "Estante de livros", shelf_path %></li>
      <li class="list-group-item"><%= link_to "Cadastrar livros", new_book_path %></li>
      <li class="list-group-item"><%= link_to "Buscar livros", books_search_path %></li>
      <li class="list-group-item"><%= link_to "Buscar usuários", users_search_path %></li>
    </ul>
  </div>
</div>
