<div class="container input-form">
  <div class="section-title">
    <h1>Busca de usuário por apelido</h1>
  </div>
  <%= form_tag users_search_path, class: "row", method: "get" do %>
    <div class="form-group col-md-6 offset-md-3">
      <%= label_tag(:nickname, "Apelido:") %>
      <%= text_field_tag(:nickname, "", class: "form-control") %>
    </div>
    <div class="col-md-2 offset-md-3">
      <%= submit_tag("Search", class: "btn btn-primary") %>
    </div>
  <% end %>
</div>
