<div class="container" style="height: 100%;">
  <div class="section-title">
    <h1>Perfil de <%= @user.name %></h1>
  </div>
  <div class="row col-md-12" style="align-items: center;">
    <div class="card offset-md-3 col-md-6">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>Apelido:</strong> <%= @user.nickname %></li>
        <li class="list-group-item"><strong>Telefone:</strong> <%= @user.phone %></li>
      </ul>
    </div>
  </div>
</div>
