<div class="container" style="height: 100%;">
  <div class="section-title">
    <h1>Livros Disponiveis</h1>
  </div>
  <div class="card-deck" style="height: 100%;">
    <div class="row" style="width: 100%;">
      <% @books.each do |book| %>
        <div class="book-card col-md-4">
          <div class="card" >
            <div class="card-header">
              <%= book.title %>
            </div>
            <div class="card-body">
              <p class="card-text"><%= book.author %></p>
              <p><%= link_to "Detalhes do livro", book_path(book) %></p>
              <p><%= link_to "Livro de #{book.user.nickname}", user_path(book.user) %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
