<div class="container user-form">
  <%= form_tag books_list_search_path, class: "row", method: "get" do %>
    <h4 class="col-md-6 offset-md-3 text-center"> Busca de livros disponíveis </h4>
    <div class="form-group col-md-6 offset-md-3">
      <%= label_tag(:title, "Titulo:") %>
      <%= text_field_tag(:title, "", class: "form-control") %>
    </div>
    <div class="col-md-2 offset-md-3">
      <%= submit_tag("Search", class: "btn btn-primary") %>
    </div>
  <% end %>
</div>
